h1 {
  display: block;
  margin: 0 auto;
  margin-bottom: 2px;
}
h2 {
  display: block;
  margin: 0 auto;
}

.weeklyForecast {
  margin-left: 30px;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  max-width: 100%;
}
.weeklyForecast:hover {
  color: rgb(58, 107, 180);
  cursor: pointer;
  transition-duration: ease-in 3s;
}
.text-muted {
  background: none;
}
button {
  border-radius: 8px;
}
button:hover {
  background-color: rgba(96, 164, 206, 0.925);
}
.appTitle {
  font-size: 48px;
  opacity: 0.8;
  font-weight: bold;
  padding-top: 2px;
}
.title:hover {
  cursor: pointer;
}
body {
  display: block;
  margin: 0 auto;
  max-width: 700px;
}
.weatherApp {
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  border: solid rgb(184, 182, 182);
  border-width: thin;
  border-radius: 35px;
}
.container {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  border-radius: 35px;
  display: block;
  margin: 0 auto;
  padding: 25px;
  line-height: 1.15;
  max-width: 700px;
}
#unitC {
  position: relative;
  font-size: 20px;
  top: -22px;
}
#unitF {
  position: relative;
  font-size: 20px;
  top: -22px;
}
::after,
::before {
  box-sizing: border-box;
}
.weatherCondition {
  font-size: 26px;
}

li {
  list-style: none;
  margin-left: -40px;
  line-height: 1.15;
}
#current-button {
  margin-left: 2px;
}
#second-header {
  margin-left: 0px;
  margin-bottom: 1px;
  opacity: 0.8;
}
footer {
  display: block;
  margin-left: 15px;
  margin-top: 10px;
  line-height: 1;
}
.temp_h {
  font-size: 45px;
  display: block;
  margin-bottom: 15px;
  position: relative;
}
.temp_h .active {
  color: rgb(33, 33, 33);
}

.temp_h .active:hover {
  cursor: default;
  text-decoration: none;
}
#main-icon {
  display: block;
  margin: 0 auto;
}
